<html>
<head>
    <meta charset="utf-8"/>
    <title>Préférences petit déj</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <br>
    <a href="/logout" class="btn btn-primary">Se déconnecter</a>
    <br><br>
    <a href="/home" class="btn btn-primary">Retour liste employé(e)s</a>
    <a href="/absences" class="btn btn-primary">Retour liste congés</a>
    <a href="/breakfast" class="btn btn-primary">Page petit déj</a>
    <br><br>
</div>
<div style="width:250px;margin:auto;">
    <table class="table">
        <tr>
            <td colspan="2" align="center">Préférences</td>
        </tr>
        <tr align="center">
            <td>Nombre</td>
            <td>Patisserie</td>
        </tr>
        {% for tab in list %}
            <tr align="center">
                <td>{{ tab.count }}</td>
                {% for tab2 in plist %}
                    {% if tab2.id == tab.id_pastries %}
                        <td>{{ tab2.name | capitalize }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>

<!-- TODO: afficher action pour breakfast !-->